.menuBlock {
border: 1px solid black;
width: 6%;
display: flex;
align-items: center;
justify-content: center;
position: absolute;
left: 3%;
top: 4%;
z-index: 3;
background-color: transparent;
background-color: rgb(20, 20, 20);
color: white;
border-radius: 10px;
}
.menuBlock:hover{
    color: rgb(20, 20, 20);
    background-color: white;
}
.humburger {
  font-size: 25px;
  position: relative;
  left: 0%;
  top: 3px;
  margin-right: 5px;
}
.menu {
  font-size: 10px;
}
.language {
  position: absolute;
  right: 3%;
  top: 5%;
  font-size: 12px;
  z-index: 4;
  cursor: pointer;
}
.language > span {
  font-weight: 600;
}