#Gallery{writing-mode:vertical-rl;
transform: translate(60px);
/* transform: translateY(60px); */
padding-top: 70px;
/* transform: rotate3d(85deg); */
}
.groupImg > img{
  width: 10em;
  height: 9.5em;
}
#img1>img,#img2>img{
  margin-left: 3em;
  margin-right: .8em;
}
