@import url("https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arsenal&display=swap");
.outerCircle {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 1px solid #efefef;
  display: flex;
  align-items: center;
  justify-content: center;
}

.middleCircle {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 1px solid #efefef;
  display: flex;
  align-items: center;
  justify-content: center;
}

.innerCircle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 1px solid #efefef;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5em;
  color: #232931;
  font-family: "Arsenal", sans-serif;
}
.pool {
  font-family: "Oleo Script", cursive;
  color: #232931;
}
